.links line {
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
}

text {
    font-family: sans-serif;
}

#constellation_svg {
  background-image: url("../img/black_sky.jpg");
  background-color: "#0b0b0b";
  position: relative;
  width: 100%;
}
