.links line {
    /* stroke: '#666666'; */
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    /* stroke-width: 1.5px; */
}

text {
    font-family: sans-serif;
    /* font-size: 10px; */
}

#constellation_svg {
  background-image: url("../img/black_sky.jpg");
  /* background-color: '#0b0b0b'; */
  position: relative;
  width: 100%;
}
