<section class="bg-primary" id="constellation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Constellation</h2>
        <hr class="light">
  
        <p class="text-center">
          This is our visualization...
        </p>
      </div>
    </div>
  </div>

  <div id="constellation_svg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="text-center">
          This was our visualization...
        </p>
      </div>
    </div>
  </div>
  </div>
</section>
